html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

div#mainFoot {
    height: 100px;
    position: sticky;
    bottom: 0;
    width: 100%;
    min-height: 0vmax;
    background-color: ghostwhite;    
}

div#mainFoot p {
    font-size: 30px;
}